*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

.container {
    background-image: url(../img/llaves-1.jpg);
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}


form {
    width: 100%;
    padding: 2rem;
    margin: auto;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight:bolder;
}
.input {
    border: 2px solid goldenrod;
    border-radius: 10px;
    font-family: fantasy;
    width: 100%;
    margin: 10px 20px;
    padding: 10px 20px;
    
}

.input:focus {
    outline: none;
}



.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    color: black;
    font-family: fantasy;
    border-radius: 10px;
    border: 2px solid red;
    width: 100%;
    font-size: medium;
    margin: 10px 20px;
    padding: 10px 20px;
}

.btn:hover {
    border: 3px solid red;
}

@media screen and (max-width:600px) {
    .form {
        width: 75%;
        padding: 2rem 0;
    }
}
.footer {
    display: flex;
    justify-content: end;
    background-color: black;
    font-style: italic white;
    color: white;
    padding: 1vw;
    text-align: right;
  }